<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let blog of blogs">
        <div class="single-blog-post mb-4">
          <div class="post-thumbnail">
            <img src="{{blog.cover_image}}" alt="" height="200" width="200">
          </div>
          <div class="post-content">
            <a href="#" class="headline">
              <h3>{{blog.title}}</h3>
            </a>
            <p>{{(blog.body | slice:0:100)+'...'}}</p>
            <div class="post-meta">
              <p><span class="post-author"><b>{{blog.name}}</b></span> on <span
                  class="post-date">{{blog.created_at}}</span></p>
              <a [routerLink]="['/blog',blog.id]">Read more...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service-error" *ngIf="error">
      <h1>{{error.errorTitle}}</h1>
      <h3>{{error.errorDesc}}</h3>
    </div>
  </div>
</section>

<!-- <div class="col-md-4" *ngFor="let blog of blogs">
  <div class="blog-box">
    <img src="assets/images/{{blog.cover_image}}" alt="blog1" height="200" width="200"/>
    <h3>{{blog.title}}</h3>
    <p>by <span>{{blog.name}}</span> on <span>{{blog.created_at}}</span></p>
    <p>{{blog.body}}</p>
    <a [routerLink]="['/blog',blog.id]" class="btn btn-danger">Read more...</a>
  </div>
</div> -->