<div class="right-widget recent-post">
    <div class="sidebar-widget-area">
        <h5 class="title">Recent Blogs</h5>
        <div class="widget-content">
            <a [routerLink]="['/blog',blog.id]" *ngFor="let blog of blogs">
                <div class="single-blog-post post-style-2 d-flex align-items-center  widget-post mb-4">
                    <div class="post-thumbnail">
                        <img src="{{blog.cover_image}}" alt="">
                    </div>
                    <div class="post-content">
                        <a href="#" class="headline">
                            <h5>{{blog.title}}</h5>
                        </a>
                        <div class="post-meta">
                            <p><a href="#" class="post-author">{{blog.name}}</a> on <a href="#"
                                    class="post-date">{{blog.created_at}}</a></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- <a [routerLink]="['/blog',blog.id]" *ngFor="let blog of blogs">
    <div class="rb-box">
        <div class="rb-box-img">
            <img src="assets/images/{{blog.cover_image}}" alt="blog1" />
        </div>
        <div class="rb-box-desc">
            <h4>{{blog.title}}</h4>
            <p>Posted On: {{blog.created_at}}</p>
        </div>
    </div>
</a> -->